<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-group-4/blob/main/Control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Coniditional statement
# if statement

In [3]:
x=10
if x > 10:
  print("x is greater tahn 5")

# you have a cinema you are operating
childern below 12 years pay 300
Teenager 12-17 pay 500
Adults (18-590 pay 800
Seniors (60+) pay 400

# if-Else statement

In [7]:
age = 18
if age <= 18:
  print("You are an adult")
else:
  print("You are a minor")

You are an adult

#if-elif-else

In [10]:
marks = 60
if marks >= 90:
  print("Grade A")
elif marks >= 70:
  print("Grade B")
elif marks >= 50:
  print("Grade C")
else:
  print("Fail")

Grade C

#Loops
-Used to iterate over a sequence
(list, string, tuple,dictonary...)

-for loop
-Range
-While Loop

In [11]:
# For loop
list_of_Numbers = [1,2,3,4,5]
for numbers in list_of_Numbers:
  print(numbers)

1
2
3
4
5

In [12]:
list_of_Numbers = [1,2,3,4,5]
for numbers in list_of_Numbers:
  print(numbers)* 4

1

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [15]:
list of fruit = ["apple", "banana", "cherry"]
for fruit in list of fruit:
  print(fruit)

SyntaxError: invalid syntax (ipython-input-1495527669.py, line 1)

Range

In [16]:
for i in range(5):
  print(i)

0
1
2
3
4

In [17]:
# range of even numbers from 0-10
for i in range (2,10,2)
print(x)

SyntaxError: expected ':' (ipython-input-2762992584.py, line 2)

Create a program inpython that willas someone

# While loop
- Executes as long as the condition is True

In [22]:

X= 2
while X <= 7:
  print("Number: ", X)
  X += 1

Number:  2
Number:  3
Number:  4
Number:  5
Number:  6
Number:  7

In [23]:
X

8

In [ ]:
# Assingment

In [24]:
# Break-Used to exit the loop immediately
for i in range (9)
  if i == 5:
    break
  print(i)

SyntaxError: expected ':' (ipython-input-1542770000.py, line 2)

In [26]:
# Continue-Used to skip to the next iteration
for i in range (8):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7

In [27]:
if i in range (10)
if i % 2 == 0:
    continue
    print(i)

SyntaxError: expected ':' (ipython-input-1858240602.py, line 1)

In [28]:
# Pass - placeholder
for i in range (5):
  pass

## **Functions**