<a href="https://colab.research.google.com/github/Omdena-Bhutan/02-data-structures-group-4/blob/main/datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list data structures

In [2]:
# Difing a list
my_list = [1,2,3,4,5]

In [3]:
my_list

[1, 2, 3, 4, 5]

In [8]:
# define list as name
my_listname = ['pradeep', 'ram', 'tenzin', 'sonam', 'dorji']

In [9]:
my_listname

['pradeep', 'ram', 'tenzin', 'sonam', 'dorji']

In [10]:
# adding element to the name
my_listname.append('sharma')

In [11]:
my_listname

['pradeep', 'ram', 'tenzin', 'sonam', 'dorji', 'sharma']

In [12]:
# remove element from the name
my_listname.remove('ram')

In [13]:
my_listname

['pradeep', 'tenzin', 'sonam', 'dorji', 'sharma']

In [14]:
my_listname[2]

'sonam'

In [15]:
my_listname[1:3]

['tenzin', 'sonam']

# tuples
- are ordered and immutable

In [16]:
my_tuple = (1,2,3,4)

In [17]:
my_tuple

(1, 2, 3, 4)

In [18]:
my_tuple[1]

2

# Dictonaries

In [ ]:
# defining dictinonaries

In [19]:
my_dict = {'name': 'pradeep', 'age': 25, 'city': 'Thimphu', 'job': 'Data Analyst'}

In [20]:
my_dict

{'name': 'pradeep', 'age': 25, 'city': 'Thimphu', 'job': 'Data Analyst'}

In [22]:
print(my_dict['job'])

Data Analyst

# Sets

In [26]:
my_set = {1,2,3,4,5}

In [27]:
my_set

{1, 2, 3, 4, 5}

In [34]:
set_numbers = {1,2,3,3,4,5,6,8,9,10,12,2,1,9,4,5,6,7,8,9,10}

In [35]:
set_numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [29]:
# Adding element
my_set.add(6)

In [30]:
my_set

{1, 2, 3, 4, 5, 6}

In [31]:
# removing element
my_set.remove(2)

In [32]:
my_set

{1, 3, 4, 5, 6}